Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
libtool
ltmain.sh
.deps
.dirstamp
.libs
*.o
*.lo
*.la

nix/unsafe-perform-io.nix
nix/lib.nix

scripts/fetchgit.sh

nix-exec

nix-exec-*.tar.xz
